*{
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.jd-family{
    width:1190px;
    height:100%;
    margin:0 auto;
   
}
.nav-back{
    width:100%;
    height: 30px;
    background:rgb(227,228,229);
}
nav{
    width:1190px;
    height:30px;
    background:rgb(227,228,229);
    font-size:12px;
    margin: 0 auto;
    position:relative;
}
.address{
    width:58px;
    height:30px;
    /* background:yellow; */
    margin-left:200px;
    float: left;
    text-align: center;
    line-height: 30px;



}
.icondizhi{
    color:rgb(241,2,21);
}
body{
    width:100%;
    height:100%;
    background:rgb(240,243,239);
}

 nav ul{
    width:693px;
    height:30px;
    /*background:red;*/
    float:right;
    /* margin-right:63px; */
    text-align: center;
    line-height: 30px;

}
nav ul li {
    width:77px;
    height:100%;
    /* background:blue; */
    color:rgb(153,153,153);
    float:left;
}
nav ul li a{
    color:rgb(153,153,153);


}
nav ul li:nth-child(2) a{
    color:#f10215;

}
nav ul li:nth-child(6) a{
    color:#f10215;

}
nav ul li .iconxiangxia{
    font-size:8px;
    color:#ccc2b9;
    text-align: center;
    line-height: 30px;
  
}
.e-s{
    color:rgb(153,153,153);

}


nav ul li a:hover{
    color:#f10215;

}
    

nav ul li span{
    display: block;
    margin-left:0;
    float:left;
}
.jd-dog{
    width:190px;
    height:170px;
    /* background:yellow; */
    position:absolute;
    top:0;
    left:0px;
    z-index: 15;
}
.jd-dog a img{
    display: block;
    width:190px;
    height:170px;

}
.head-one{
    width:100%;
    height:140px;
    /* background:green; */
    overflow: hidden;
    position: relative;
}
.head-one input{
    display: block;
    width:450px;
    height: 25px;
    padding:4px 44px 4px 4px;
    margin:24px auto 0;  
   

}
.search{
    display: block;
    width:49px;
    height:37px;
    background:#f10215;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    color:#ffff;
    position: absolute;
    right:345px;
    top:24px;
    z-index: 10;
    font-size: 17px;
    text-align: center;
    line-height: 37px;
}
.iconsousuokuang{
    font-size: 24px;
}

.shopping-cart{
    color:#f10215;
    width: 190px;
    height:36px;
    background: #ffffff;
    position: absolute;
    right:120px;
    top: 24px;
    font-size: 12px;
    text-align: center;
    line-height: 36px;
    z-index: 11;

}
.shopping-cart i{
    margin-left: 55px;
    display:block;
    float:left;
}

.shopping-cart a{
    display:block;
    padding-left:7px;
    float: left;
    color:#f10215;


}
.iconxiangji{
    /* display:block; */
    font-size:22px;
    position:absolute;
    right:406px;
    top:30px;

}
.notes{
    width:503px;
    height:20px;
    /* background:yellow; */
    position:absolute;
    top:70px;
    left:343px;
}
.notes ul li a{
    display:block;
    float:left;
    font-size:12px;
    width:62px;
    height:20px;
    text-align: center;
    line-height: 20px;
    color:#999999;
}
.notes ul li:nth-child(1) a{
    color:#f10215;
}
.notes ul li a:hover{
    color:#f10215;
}
.jd-code{
    width:60px;
    height:60px;
    position:absolute;
    top:0;
    right:0;
}
.jd-code img{
   width:100%;
   height:100%; 
}
.bottom-nav{
    width:790px;
    height:40px;
    /* background: blue; */
    position:absolute;
    bottom:0;
    left:220px;
    
}



.bottom-nav ul  a{
   
   /* display: block; */
    font-size:14px;
    color:#333333;
    margin-left:16px;
}
.bottom-nav ul  a:hover{
    color:#f10215;
    
}

.bottom-nav ul  span{
    /* display:block; */
    width: 1px;
    font-size:10px;
    color:#999999;
    margin-right: 0px;
}
.mid-box{
    width:100%;
    height:480px;
    /* background:yellow; */
}
aside{
    width:190px;
    height:480px;
    background:#fefefe;
    float:left;
}
aside ul{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside ul li{
    width: 190px;
    height:26px;
    /* background:red; */
    padding-left: 19px;
    box-sizing: border-box;
    color:#626262;
    font-size:14px;


}
aside ul li a{
    font-size:14px;
    color:#626262;

}
aside ul li a:hover{
    color:#f10215;
    
}
aside ul li:hover{
    background:rgb(217,217,217);
}
.img-box{
    width: 590px;
    height:470px;
    background:green;
    float:left;
    margin-left:10px;
    margin-top:10px;
}
img-box img{
    width: 100%;
    height:100%;
}
.img-box-r{
    width:190px;
    height:470px;
    margin-left:10px;
    margin-top:10px;
    /* background:blue; */
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-box-r img{
    width:190px;
    height:150px;
}
.jd-login{
    width:190px;
    height:470px;
    /* background:green; */
    float:right;
    margin-top:10px;
    position:relative;
}
.login-head{
    width:190px;
    height:80px;
}
.jd-login a img{
    width:55px;
    height:55px;
    border-radius: 50%;
    position:absolute;
    left:70px;
    top:-5px;
    z-index: 16;
}
.login-back{
    background:#E3E1DF;
    width:65px;
    height:65px;
    border-radius: 50%;
    position:absolute;
    left:65px;
    top:-10px;
    z-index: 15;
    box-shadow:3px 6px 25px #c3c3c3;

}
.user-tips{
    width:190px;
    height:20px;
    font-size:12px;
    color:#888;
    text-align:center;
    line-height: 20px;
    margin-top:65px;
    font-family: Microsoft YaHei;
}
.login-head p{
    width: 190px;
    height:20px;
    line-height: 20px;


}
.login-head p a{
    /* text-decoration: none; */
    font-size: 12px;
    padding:0 2px;
    color:#888;
}
.login-head p a:hover{
    color:#f10215;

}

.login-head p a:first-child{
    margin-left:70px;
}
.button-box{
    width: 190px;
    height:25px;
    /* background:yellow; */
    margin-top:10px;
}
.button-box a{
    display:inline-block;
    width: 70px;
    height:25px;
    border-radius: 13px;
    font-size:12px;
    box-shadow:6px 8px 20px rgba(45,45,45,0.15);
    line-height:20px;
    text-align: center;
    margin: 5px;
    background: #363634;
    color: #e5d790;

}
.button-box a:first-child{
    margin-left:16px;
    color: #e43f3b;
    background:none;
}
.news2{
    width:190px;
    height:131px;
    /* background: purple; */
}
.news-head{
    width:190px;
    height:19px;
    padding-top:8px;
}
.news-title{
    width:52px;
    height:13px;
    font-size: 12px;
    margin-left:15px;
    float:left;
    line-height:13px;

}
.news-more{
    width:40px;
    height:13px;
    font-size:12px;
    float:right;
    color:#999;

}
.news-more:hover{
    color:#666;

}
.news-more{
    font-size:12px;
    line-height:13px;
}
.news-list{
    width:160px;
    height:96px;
    /* background:blue; */
    margin:0 auto;
    border-bottom: 1px solid #ebeaea;
}
.news-link span{
    display:inline-block;
    width:35px;
    height: 16px;
    font-size:12px;
    color:#edfffb;
    background-color: #90b0c6;
    text-align: center;
    line-height:16px;

}
.news-link{
    display:inline-block;
    width:160px;
    height:16px;
    white-space:nowrap;
    overflow:hidden; 
    text-overflow:ellipsis;
    font-size:12px;
    line-height:16px;
}
.news-link:hover{
    color:#f10215;
}
.news-list li:nth-child(2) a span{
    background-color: #e0b95a;
}
.news-list li:nth-child(3) a span{
    background-color: #e47f7f;
}
.news-list li:nth-child(4) a span{
    background-color: #e47f7f;
}
.login-foot{
    width:168px;
    height:165px;
    /* background:yellow; */
    padding:4px 11px 11px 11px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.login-foot a{
    display:block;
    width:42px;
    height:51px;
    /* background:purple; */
    padding-top:6px;
}
.login-foot a:hover i{
    color:#f10215;
}
.login-foot a:hover span{
    color:#f10215;
}

.login-foot a i{
    display:block;
    width:20px;
    height:20px;
    margin:4px auto 0;
    font-size:22px;
    color:#999;
    
    text-align: center;
}
.login-foot a span{
    display:block;
    width:42px;
    height:25px;
    padding-bottom:2px;
    font-size:12px;
    text-align: center;
    line-height: 25px;
    color:#999;

}
.chart-find{
    width:100%;
    height:450px;
    /* background:green; */
    margin-top: 30px;
}
.chart-find ul li{
    width:390px;
    height:450px;
    background:red;
    margin-right:10px;
    float:left;
}
.chart-find ul li:nth-child(3){
    margin-right: 0;

}
.chart-head{
    width:390px;
    height:60px;
    background:yellow;
}
.box-tit{
    width:66px;
    height:44px;
    /* background:purple; */
    float: left;
    font-weight: normal;
    color:#222;
    font-size: 22px;
    line-height:44px;
    float: left;
    margin-left:20px;
    margin-right:5px;
    
}
.iconGroup-{
    display:block;
    width:23px;
    height:23px;
    font-size:23px;
    color:#e33333;
    float: left;
    margin-top:10px;
   

}
.chart-head span{
    display:block;
    float: left;
    font-size:14px;
    width:112px;
    height:20px;
    color:#999;
    line-height:20px;
    margin:12px 0 0 10px;
}
.chart-nav{
    width:390px;
    height:34px;
    background:green;
}
.chart-nav ul li{
    width: 58px;
    height:34px;
    /* background: blueviolet; */
    float:left;
}
.chart-nav ul li a{
    color:#666;
    font-size:12px;
    text-align: center;
    line-height: 34px;
}






    

    














    













