*{
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.jd-family{
    width:1190px;
    height:100%;
    margin:0 auto;
   
}
.nav-back{
    width:100%;
    height: 30px;
    background:rgb(227,228,229);
}
nav{
    width:1190px;
    height:30px;
    background:rgb(227,228,229);
    font-size:12px;
    margin: 0 auto;
    position:relative;
}
.address{
    width:58px;
    height:30px;
    /* background:yellow; */
    margin-left:200px;
    float: left;
    text-align: center;
    line-height: 30px;



}
.icondizhi{
    color:rgb(241,2,21);
}
body{
    width:100%;
    height:100%;
    background:rgb(240,243,239);
}

 nav ul{
    width:693px;
    height:30px;
    /*background:red;*/
    float:right;
    /* margin-right:63px; */
    text-align: center;
    line-height: 30px;

}
nav ul li {
    width:77px;
    height:100%;
    /* background:blue; */
    color:rgb(153,153,153);
    float:left;
}
nav ul li a{
    color:rgb(153,153,153);


}
nav ul li:nth-child(2) a{
    color:#f10215;

}
nav ul li:nth-child(6) a{
    color:#f10215;

}
nav ul li .iconxiangxia{
    font-size:8px;
    color:#ccc2b9;
    text-align: center;
    line-height: 30px;
  
}
.e-s{
    color:rgb(153,153,153);

}


nav ul li a:hover{
    color:#f10215;

}
    

nav ul li span{
    display: block;
    margin-left:0;
    float:left;
}
.jd-dog{
    width:190px;
    height:170px;
    /* background:yellow; */
    position:absolute;
    top:0;
    left:0px;
    z-index: 15;
}
.jd-dog a img{
    display: block;
    width:190px;
    height:170px;

}
.head-one{
    width:100%;
    height:140px;
    /* background:green; */
    overflow: hidden;
    position: relative;
}
.head-one input{
    display: block;
    width:450px;
    height: 25px;
    padding:4px 44px 4px 4px;
    margin:24px auto 0;  
   

}
.search{
    display: block;
    width:49px;
    height:37px;
    background:#f10215;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    color:#ffff;
    position: absolute;
    right:345px;
    top:24px;
    z-index: 10;
    font-size: 17px;
    text-align: center;
    line-height: 37px;
}
.iconsousuokuang{
    font-size: 24px;
}

.shopping-cart{
    color:#f10215;
    width: 190px;
    height:36px;
    background: #ffffff;
    position: absolute;
    right:120px;
    top: 24px;
    font-size: 12px;
    text-align: center;
    line-height: 36px;
    z-index: 11;

}
.shopping-cart i{
    margin-left: 55px;
    display:block;
    float:left;
}

.shopping-cart a{
    display:block;
    padding-left:7px;
    float: left;
    color:#f10215;


}
.iconxiangji{
    /* display:block; */
    font-size:22px;
    position:absolute;
    right:406px;
    top:30px;

}
.notes{
    width:503px;
    height:20px;
    /* background:yellow; */
    position:absolute;
    top:70px;
    left:343px;
}
.notes ul li a{
    display:block;
    float:left;
    font-size:12px;
    width:62px;
    height:20px;
    text-align: center;
    line-height: 20px;
    color:#999999;
}
.notes ul li:nth-child(1) a{
    color:#f10215;
}
.notes ul li a:hover{
    color:#f10215;
}
.jd-code{
    width:60px;
    height:60px;
    position:absolute;
    top:0;
    right:0;
}
.jd-code img{
   width:100%;
   height:100%; 
}
.bottom-nav{
    width:790px;
    height:40px;
    /* background: blue; */
    position:absolute;
    bottom:0;
    left:220px;
    
}
.bottom-nav ul li {
    width:79px;
    float:left;
    text-align: center;
    line-height: 40px;
}

.bottom-nav ul li a{
   
   /* display: block; */
    font-size:14px;
    color:#333333;
}
.bottom-nav ul li span{
    /* display:block; */
    width: 1px;
    font-size:10px;
    color:#999999;
    margin-right: 0px;
}
.mid-box{
    width:100%;
    height:480px;
    background:yellow;
}
aside{
    width:190px;
    height:480px;
    background:#fefefe;
    float:left;
}
aside ul{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside ul li{
    width: 190px;
    height:26px;
    /* background:red; */
    padding-left: 19px;
    box-sizing: border-box;
    color:#626262;
    font-size:14px;


}
aside ul li a{
    font-size:14px;
    color:#626262;

}
aside ul li a:hover{
    color:#f10215;
    
}
aside ul li:hover{
    background:rgb(217,217,217);
}
.img-box{
    width: 590px;
    height:470px;
    background:green;
    float:left;
    margin-left:10px;
    margin-top:10px;
}
img-box img{
    width: 100%;
    height:100%;
}
.img-box-r{
    width:190px;
    height:470px;
    margin-left:10px;
    margin-top:10px;
    background:blue;
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-box-r img{
    width:190px;
    height:150px;
}




    













